body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center; /* Centra el encabezado */
    margin-top: 50px; /* Espacio superior */
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center; /* Centra las pestañas de navegación */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    margin-top: 20px;
    text-align: center; /* Centra el contenido en la página */
}

h2 {
    color: #666;
}

form {
    margin-top: 20px;
}

form label {
    font-weight: bold;
}

form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
